<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.itu.travelapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dk.itu.travelapp.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dk.itu.travelapp.CheckInActivity"
            android:label="@string/title_activity_check_in" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.CheckOutActivity"
            android:label="@string/title_activity_check_out" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.LogListing"
            android:label="@string/title_log_listing" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.List"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.WebActivity"
            android:label="@string/title_activity_web" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.PrefFragment"
            android:label="@string/title_activity_pref_fragment" >
        </activity>
        <activity
            android:name="dk.itu.travelapp.InviteFragment"
            android:label="@string/title_activity_invite" >
        </activity>
    </application>

</manifest>
